* {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	color: inherit;
}

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 40px; /* change with screen size */
	color: white;
	min-width: 650px;
}

#nav {
	width: 100%;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 9px;
}

#nav a {
	display: inline-block;
	margin: 10px 10px;
	margin-top: 0;
	padding: 0 10px;
	font-size: 25px;
	text-decoration: none;
}

#nav a:hover {
	border-bottom: 5px solid white;
	margin-bottom: -5px;
}

.section {
	padding: 40px 0px;
	min-height: 480px;  /* change with screen size */
	max-height: 1000px;
  width: 100%;
  display: table;
}

.short {
	min-height: 150px;
}

.band {
	height: 30px;    
	width: 100%;
}

.logo {
	width: 40%;
	max-width: 500px;
	min-width: 300px;
}

.mid {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	text-align: center;
}

.rect {
	width: 70%;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.6);
	text-shadow: 0 1px 1px #000;
	margin: 0 auto;
}

.block {
	display: inline-block;
}

.w10 {
	width: 10%;
}

.w25 {
	width: 25%;
}

.w33 {
	width: 33%;
}

.w50 {
	width: 50%;
}

.block h2 {

}

.block img {

}

.btn_img img {
	width: 100px;
}

.btn_img img:hover {
	width: 105px;
	margin-top: -5px;
}

.copy {
	text-align: center;
	font-size: 13px;
}

.contact-us {
  text-align: center;
  font-size: 36px;
}

.laptop-img {
	background: url(/img/laptop.jpg);
	background-size: cover;
}

.meeting-img {
	background: url(/img/meeting.jpg) #FF3C00;
	background-size: cover;
}

.build-img {
	background: url(/img/build_break_repeat.jpg) #FF3C00;
	background-size: cover;
}

.hack-img {
	background: url(/img/hack.jpg) #FF3C00;
	background-size: cover;
}

.mhacks-img {
	background: url(/img/mhacks.jpg) #FF3C00;
	background-size: cover;
}

.orange {
	background: #FF3C00;/*url(/img/hacker_hr.jpg)*/
}
