* {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	color: inherit;
}

body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 40px; /* change with screen size */
	color: white;
	min-width: 650px;
}

#nav {
	width: 100%;
	text-align: center;
	padding-top: 0px;
	padding-bottom: 9px;
}

#nav a {
	display: inline-block;
	margin: 10px 10px;
	margin-top: 0;
	padding: 0 10px;
	font-size: 25px;
	text-decoration: none;
}

#nav a:hover {
	border-bottom: 5px solid white;
	margin-bottom: -5px;
}

.section {
	padding: 40px 0px;
	min-height: 480px;  /* change with screen size */
	max-height: 1000px;
    width: 100%;
    display: table;
}

.short {
	min-height: 200px;
}

.band {
	height: 30px;    
	width: 100%;
}

.logo {
	width: 40%;
	max-width: 500px;
	min-width: 300px;
}

.mid {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
	text-align: center;
}

.rect {
	width: 70%;
	padding: 20px;
	background-color: rgba(0, 0, 0, 0.6);
	text-shadow: 0 1px 1px #000;
	margin: 0 auto;
}

.block {
	display: inline-block;
	width: 25%;
}

.block h2 {

}

.block img {

}

.copy {
	text-align: center;
	font-size: 15px;
	padding-top: 4px;
}
.laptop-img {
	background: url('../img/laptop.jpg');
	background-size: cover;
}

.meeting-img {
	background: url('../img/meeting.jpg') #FF3C00;
	background-size: cover;
}

.build-img {
	background: url('../img/build_break_repeat.jpg') #FF3C00;
	background-size: cover;
}

.hack-img {
	background: url(../img/hack.jpg) #FF3C00;
	background-size: cover;
}

.mhacks-img {
	background-image: url('../img/mhacks.jpg');
	background-color: #FF3C00;
	background-size: cover;
}

.orange {
	background: url(../img/hacker_hr.jpg) #FF3C00;/**/
}
.sponsor
{
     width:100%;
    background-color: inherit;
 
    }
.sponsorTitle
{
    text-align:center;
    background-color: inherit;
}
